.cards {
  margin: 36px auto 0;
}

.cards__list {
  list-style: none;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 800px) and (min-width: 480px) {
  .cards__list {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 480px) {
  .cards__list {
    grid-template-columns: none;
    justify-content: space-evenly;
    max-width: 320px;
    width: 100%;
    margin: 36px auto 0;
  }
}
